<div class="container">
  <h1>GTFOmaha</h1>
</div>
<div class="container">
<form action="/logins/new" method="get">
  <input type="submit" value="Log in">
</form>

<form action="/users/new" method="get">
  <input type="submit" value="Sign up">
</form>
</div>