<div class="container">
  <div class="block block-inverse text-center">
    <h1 class="block-title">GTFOmaha</h1>
    <h4 class="text-muted">Where do you want to go tomorrow?</h4>
    <form action="/logins/new" method="get">
      <button class="btn btn-primary m-t">Log In</button>
    </form>
    <form action="/users/new" method="get">
      <button class="btn btn-primary m-t">Sign Up</button>
    </form>  
  </div>
</div>
