<div class="container">
  <div class="block block-inverse text-center">
    <h1 class="block-title">GTFOmaha</h1>
    <h4 class="text-muted">Where do you want to go tomorrow?</h4>
    <div class="btn-group" role="group" aria-label="...">
      <a href="/logins/new" class="btn btn-lg btn-danger-outline">Log In</a>
      <a href="/users/new" class="btn btn-lg btn-danger-outline">Sign Up</a>
    </div>
  </div>
</div>


<!-- <form action="/logins/new" method="get">
      <button class="btn btn-primary m-t">Log In</button>
    </form>
    <form action="/users/new" method="get">
      <button class="btn btn-primary m-t">Sign Up</button>
    </form>   -->

<!--     <button type="button" class="btn btn-lg btn-danger-outline">Danger</button> -->

<!-- <div class="container">
  <div class="block block-inverse text-center">
    <div class="block-foreground">
      <h1 class="block-title">GTFOmaha</h1>
      <h4 class="text-muted">Where do you want to go tomorrow?</h4>
      <div class="btn-group" role="group" aria-label="...">
        <a href="/logins/new" class="btn btn-lg btn-danger-outline">Log In</a>
        <a href="/users/new" class="btn btn-lg btn-danger-outline">Sign Up</a>
      </div>
    </div>
    <div class="block-background">
      <iframe frameBorder="0" src="http://images.ttcdn.co/media/i/product/6441-c8b9902ef92841c397e9f649cc99e4db.png?size=2000"></iframe>
    </div>
  </div>
</div> -->