<div class="container"
  <h1>Log in</h1>
</div>
<div class="container">
  <form action="/logins/create" method="post">
    Username:
      <input type="text" name="username"><br>
    Password:
      <input type="text" name="password"><br>
    <input type="submit" value="Log in">
  </form>
</div>
<div class="container">
  <a href="/">Home</a>
</div>