<h1>Your Results</h1>

<% if @gtfo_arr.length == 0 %>
  <p> Sorry, try again another time. </p>
<% else %>
  <p> There are returnable results. </p>
  <%= @gtfo_arr %>

  <%@returnable_keys.each do |key| %>
    <%= key %>
  <% end %>
  
<% end %>