<h1>Your Results</h1>

gtfo_arr = []

location_and_prices = {desination => price}
price_arr = location_and_price.values

price_arr.each do |price|
  if price <= user.budget
    gtfo_arr << price
  end
end

if gtfo_arr.length > 0
  search location_and_prices by value for items in gtfo_arr
  return list of destinations and prices
else
  redirect to sorry  
