<h1>Your Results</h1>

<% if @gtfo_arr.length == 0 %>
  <p> Sorry, try again another time. </p>
<% else %>
  <p> There are returnable results. </p>
  <%= @gtfo_arr %>

  <% @return_this.each do |i| %>
    <%= i %>
  <% end %>
<% end %>