<form action="/users/create" method="post">
  Name:
    <input type="text" name="name"><br>
  Username:
    <input type="text" name="username".><br>
  Password:
    <input type="text" name="password"><br>
  Email:
    <input type="text" name="email"><br>
  How much are you willing to spend on a ticket?
    $<input type="integer" name="budget"><br>
    <input type="submit">
</form>