<form action="/users/create" method="post">
  Name:
    <input type="text" name="name">
  Username:
    <input type="text" name="name".
  Password:
    <input type="text" name="name">
  Email:
    <input type="text" name="name">
  How much are you willing to spend on a ticket?
    $<input type="integer" name="budget">
    <input type="submit">
</form>