<form action="/users/create" method="post">
  Name:
    <input type="text" name="name"><br>
  Username:
    <input type="text" name="username".><br>
  Password:
    <input type="text" name="password"><br>
  Email:
    <input type="text" name="email"><br>
  List your top 5 travel destinations:<br>
    <input type="integer" name="destination_id_1"><br>
    <input type="integer" name="destination_id_2"><br>
    <input type="integer" name="destination_id_3"><br>
    <input type="integer" name="destination_id_4"><br>
    <input type="integer" name="destination_id_5"><br>
  How much are you willing to spend on a ticket?
    $<input type="integer" name="budget"><br>
    <input type="submit">
</form>