<h1>Add destination</h1>

<form action="/destinations/create" method="post">
 Destination name:<br>
 <input type="text" name="name"><br>
 Airport code:<br>
 <input type="text" name="airport_code"><br>
 <input type="submit">
</form>