<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="Thorin Butler | Melinda Deinert" content="">

    <title>GTFOmaha</title>

    
      <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
      <link href="/css/toolkit-minimal.css" rel="stylesheet">

      <!-- Your own CSS can go here. -->
  </head>


<body>

<% if !@hide_nav %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">GTFOmaha</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/users/<%= @current_user.id %>/profile">View Profile</a></li>
              <li><a href="/users/<%= @current_user.id %>/edit">Edit Profile</a></li>
              <li><a href="/destinations/index">Add/View Destinations</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logins/delete">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>  


<% end %>

  <%= yield %>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/toolkit.js"></script>
  <script src="/js/application.js"></script>

  <!-- Your own JS can go here. -->
</body>

</html>






